@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Inter", sans-serif;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

:root {
  --onBoard-title: #1F2937;
  --onBoardtext: #4B5563;
  --bgColor: #E5E5E5;
  --mainGreen: #32B768;
  --buttontextGreen: #10B981;
  --lightGreen: #D1FAE5;
  --white: #fff;
  --termsBlack: #242323;
  --disableLogin: #89909E;
  --disableColor: #F4F4F4;
  --inputBorder: #BEC5D1;
  --black222: #222;
  --disableText: #9CA3AF;
  --forgetTitle: #374151;
  --color82: #828282;
}

.onBoard-cover,
.register-cover,
.forget-cover,
.back-email-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.main-title {
  color: var(--onBoard-title);
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 16px;
}

.onboard-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--onBoardtext);
  max-width: 294px;
  margin: 0px auto;
}

.onBoard__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-top: -104px;
}
.onBoard__footer a {
  text-decoration: none;
  color: var(--onBoardtext);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.first-onboard__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.second-onboard__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.third-onboard__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.third-link {
  visibility: hidden;
}

.forget-cover {
  padding-right: 24px;
}

.register-cover .register__img {
  margin-bottom: 56px;
}
.register-cover .main-title {
  margin-bottom: 8px;
}
.register-cover .onboard-text {
  margin-bottom: 96px;
}
.register-cover .terms-conditions {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: var(--termsBlack);
  width: 320px;
  margin-top: 16px;
}
.register-cover .terms-conditions a {
  color: var(--mainGreen);
  text-decoration: none;
}

.join__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.join__buttons .login-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 64px;
  border-radius: 12px;
  min-width: 256px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  background-color: var(--lightGreen);
  color: var(--buttontextGreen);
}

.register-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 64px;
  border-radius: 12px;
  min-width: 256px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  background-color: var(--mainGreen);
  color: var(--white);
  outline: 0;
  border: 0;
  cursor: pointer;
}

.register-link:hover {
  opacity: 0.85;
}

.register-box {
  border-radius: 36px 36px 0px 0px;
  width: 375px;
  height: 594px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 236px;
  background-color: var(--white);
}
.register-box .join-line {
  padding-top: 24px;
}
.register-box .join {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 238px;
  text-align: left;
  margin-top: 40px;
  margin-left: -48px;
}
.register-box .join .join-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: var(--disableLogin);
}
.register-box .join .line {
  width: 77px;
  height: 0px;
  border: 1px solid var(--mainGreen);
  margin: 12px auto;
  margin-bottom: 0px;
  display: none;
}
.register-box .join .login-line {
  border: 1px solid var(--mainGreen);
  margin: 12px auto;
  margin-bottom: 0px;
  display: none;
  width: 28px;
  height: 0px;
}
.register-box .join .custom-focus {
  color: var(--mainGreen);
}
.register-box .join .custom-focus .line {
  display: block;
}
.register-box .join a {
  text-decoration: none;
}
.register-box .register-link {
  padding: 16px 30px;
  position: relative;
}
.register-box .register-link .google-icon {
  display: inline-block;
  margin-right: 24px;
}
.register-box .disable__button {
  background-color: var(--disableColor);
  color: var(--black222);
}
.register-box .disable-text {
  color: var(--disableText);
}
.register-box .custom-line::before {
  content: "";
  position: absolute;
  display: block;
  border: 0.5px solid #D2D4D8;
  width: 148px;
  height: 0px;
  top: 48px;
  margin-top: 8px;
}

.register-form {
  padding: 36px 24px;
}
.register-form label span {
  display: block;
  margin-bottom: 0px;
  font-size: 14px;
}
.register-form input {
  border: 1px solid var(--inputBorder);
  border-radius: 12px;
  width: 100%;
  height: 48px;
  font-size: 12px;
  font-weight: 400;
  line-height: 36px;
  padding: 6px 12px;
  margin-bottom: 8px;
  outline-color: var(--mainGreen);
}

.registration-page__content .register-form input:focus span {
  color: var(--disableText);
}

.login-box {
  height: 570px;
}

.forgot-pass {
  margin-top: -44px;
  margin-bottom: 18px;
  margin-left: 108px;
}
.forgot-pass .main-title {
  color: var(--mainGreen);
  font-size: 14px;
  text-decoration: none;
}

.forget-cover {
  padding-left: 24px;
  align-items: flex-start;
  justify-content: flex-start;
}
.forget-cover .forget-content {
  margin-top: 116px;
  margin-bottom: 60px;
}
.forget-cover .forget-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: var(--forgetTitle);
}
.forget-cover .forget-text {
  color: var(--disableText);
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}
.forget-cover .register-form {
  padding: 0px;
}
.forget-cover .register-form .main-title {
  margin-left: 10px;
}
.forget-cover .register-form input {
  width: 327px;
}
.forget-cover .submit__button {
  padding-left: 36px;
}
.forget-cover .submit__button .register-link {
  margin-top: 344px;
}
.forget-cover .forgot-pass {
  margin: 0px;
  margin-left: 12px;
}
.forget-cover .forgot-pass .main-title {
  color: var(--disableText);
}
.forget-cover .forgot-pass .main-title span {
  color: var(--mainGreen);
}

.back-email-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  padding-left: 46px;
  padding-right: 46px;
}
.back-email-cover .forget-content {
  margin-top: -10px;
  margin-bottom: 28px;
}
.back-email-cover .forget-content .forget-title {
  margin-bottom: 8px;
}
.back-email-cover .submit__button {
  padding: 140px 36px 70px 36px;
}
.back-email-cover .submit__button .register-link {
  margin-top: 0px;
}
.back-email-cover .forgot-pass .main-title {
  color: #6B7280;
  font-weight: 700;
}

.pass-cover .forget-text {
  font-size: 14px;
}
.pass-cover .submit__button {
  padding: 290px 36px 70px 36px;
}
.pass-cover .submit__button .register-link {
  margin-top: 0px;
}

.success-cover .forget-title {
  margin-bottom: 0px !important;
}
.success-cover .forget-text {
  color: var(--color82);
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
}/*# sourceMappingURL=style.css.map */