@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$base-font : 'Inter', sans-serif;

body{
    font-family: $base-font;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    margin: 0;
}

:root {
    --onBoard-title: #1F2937;
    --onBoardtext: #4B5563;
    --bgColor: #E5E5E5;
}

@mixin display-center{
    display: flex;
    align-items: center;
    justify-content: center;
} 



////////////////
/// onBoard-first
/////////////////


.onBoard-cover{
    height: 100vh;
}

.first-onboard__img{
    @include display-center();
    margin-top: 284px;
    margin-bottom: 78px;
}

.main-title{
    color: var(--onBoard-title);
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 16px;
}

.onboard-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--onBoardtext);
    max-width: 294px;
    margin: 0px auto;
}

.onBoard__footer{
    @include display-center();
    justify-content: space-around;
    margin-top: 104px;

    a{
        text-decoration: none;
        color: var(--onBoardtext);
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
}

.second-onboard__img{
    margin-top: 228px;
    margin-bottom: 16px;
}

.third-onboard__img{
    margin-top: 200px;
    margin-bottom: 70px;
}

.third-link{
    visibility: hidden;
}